<div class="body" ng-controller="homepage">
    <header>
        <ul class="">
            <li class="col-xs-4"></li>
            <li class="col-xs-4 text-center cen">
                <span class="on" ng-click="sub()"><a ui-sref="s"></a>服务</span>
                <span>金融</span>
            </li>
            <li class="col-xs-4">
                <i class="fa fa-search float-right mt15"></i>
            </li>
        </ul>
    </header>
    <section>
        <home-content></home-content>
    </section>
    <footer>
        <dl>
            <dt><i class="fa fa-user f20"></i></dt>
            <dd>首页</dd>
        </dl>
        <dl>
            <dt><i class="fa fa-firefox f20"></i></dt>
            <dd>首页</dd>
        </dl>
        <dl>
            <dt><i class="fa fa-envira f20"></i></dt>
            <dd>首页</dd>
        </dl>
        <dl>
            <dt><i class="fa fa-drupal f20"></i></dt>
            <dd>首页</dd>
        </dl>
        <dl>
            <dt><i class="fa fa-contao f20"></i></dt>
            <dd>首页</dd>
        </dl>
    </footer>
</div>