<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="Content/img/banner1.jpg" alt="banner1"></div>
        <div class="swiper-slide"><img src="Content/img/banner2.jpg" alt="banner2"></div>
        <div class="swiper-slide"><img src="Content/img/banner3.jpg" alt="banner3"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="option">
    <dl>
        <dt><span class="bg-yellow"><i class="fa fa-github"></i></span></dt>
        <dd>车商城</dd>
    </dl>
    <dl>
        <dt><span class="bg-danger"><i class="fa fa-fa"></i></span></dt>
        <dd>车商城</dd>
    </dl>
    <dl>
        <dt><span class="bg-maroon"><i class="fa fa-houzz"></i></span></dt>
        <dd>车商城</dd>
    </dl>
    <dl>
        <dt><span class="bg-teal"><i class="fa fa-lastfm"></i></span></dt>
        <dd>车商城</dd>
    </dl>
</div>
<div class="bann">
    <img src="Content/img/bann.gif" alt="">
</div>
<div class="content-t clearfix">
    <p>车主服务</p>
    <ul class="text-center">
        <li class="col-xs-3">
            <i class="fa fa-optin-monster"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-safari"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-skype"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-vk"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-yc"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-yoast"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-user-md"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-sellsy"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-paypal"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-reddit"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-maxcdn"></i>
            <p>油卡充值</p>
        </li>
        <li class="col-xs-3">
            <i class="fa fa-gitlab"></i>
            <p>油卡充值</p>
        </li>
    </ul>
</div>
<div class="isc clearfix mt10">
    <p>限时抢购 <time class="float-right"><span>13</span>:<span>13</span>:<span>13</span></time></p>
    <ul>
        <li>
            <img src="Content/img/hot-1.gif" alt="">
            <p>补胎工具套装</p>
            <p>￥9.9</p>
        </li>
        <li>
            <img src="Content/img/hot-1.gif" alt="">
            <p>补胎工具套装</p>
            <p>￥9.9</p>
        </li>
        <li>
            <img src="Content/img/hot-1.gif" alt="">
            <p>补胎工具套装</p>
            <p>￥9.9</p>
        </li>
    </ul>
</div>
<div class="area clearfix mt10">
    <p>活动专区 <time class="float-right">更多活动</time></p>
    <ul>
        <li class="col-xs-4">
            <h5>测身价炫富</h5>
            <p>身价大pk</p>
            <img src="Content/img/zq-1.gif" alt="">
        </li>
        <li class="col-xs-4">
            <h5>测身价炫富</h5>
            <p>身价大pk</p>
            <img src="Content/img/zq-2.gif" alt="">
        </li>
        <li class="col-xs-4">
            <h5>测身价炫富</h5>
            <p>身价大pk</p>
            <img src="Content/img/zq-3.gif" alt="">
        </li>
    </ul>
</div>
<div class="like clearfix mt10">
    <p>猜你喜欢 <time class="float-right">更多</time></p>
    <ul>
        <li class="col-xs-6">
            <img src="Content/img/car-1.gif" alt="">
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利率</p>
            <p><span>1元</span> <span>1.44万</span></p>
        </li>
        <li class="col-xs-6">
            <img src="Content/img/car-2.gif" alt="">
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利率</p>
            <p><span>1元</span> <span>1.44万</span></p>
        </li>
        <li class="col-xs-6">
            <img src="Content/img/car-3.gif" alt="">
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利率</p>
            <p><span>1元</span> <span>1.44万</span></p>
        </li>
        <li class="col-xs-6">
            <img src="Content/img/car-4.gif" alt="">
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利率</p>
            <p><span>1元</span> <span>1.44万</span></p>
        </li>
    </ul>
</div>